@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat+Alternates:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat+Alternates:wght@700&family=Montserrat:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* ----------------------------------------------------------------- */

.section-titles {
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.section-subtitles {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Montserrat';
    color: #333333;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.titles_line {
    width: 60px;
    border-bottom: 3px solid #f38181;
    margin-bottom: 40px;
}

.main-text {
    font-weight: lighter;
    font-size: 15px;
    color: #999999;
    font-family: 'Cocon-Regular';
    margin-bottom: 100px;
}

@media (max-width: 1441px) {
    .main-text {
        font-size: 26px;
    }

    .titles_line {
        width: 120px;
    }

    .section-titles {
        font-size: 40px;
    }

    .section-subtitles {
        font-size: 48px;
    }
}

@media (max-width: 999px) {
    .section_titles {
        font-size: 50px;
    }

    .section_subtitles {
        font-size: 50px;
    }

    .titles_line {
        width: 200px;
    }

    .aboutus_text {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .section_titles {
        font-size: 30px;
    }

    .section_subtitles {
        font-size: 30px;
    }

    .main_text {
        font-size: 20px;
    }
}

/* ----------------------------------------------------------------- */

.header {
    background: url(img/bg-image.png) center no-repeat;
    width: 100%;
    height: 100vh;
}

.header_container {
    padding: 30px 360px 150px 360px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.header_logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

.navigation {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
}

.navigation li {
    position: relative;
    cursor: pointer;
    margin-left: 55px;
}

.navigation li a {
    font-weight: 100;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.navigation li a:hover {
    color: #fce38a;
}

.navigation li:after {
    float: center;
    width: 100%;
    opacity: 0;
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    border-bottom: 2px solid #fce38a;
    transition: .3s;
}

.navigation li:hover:after {
    top: 17px;
    opacity: 1;
}

.cart-icon {
    cursor: pointer;
}

.glass-icon {
    cursor: pointer;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_heading {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}

.welcome_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.main_line {
    width: 7%;
    border-bottom: 3px solid #fff;
    margin-bottom: 50px;
}

.main_btn {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    border: 3px solid #fff;
    transition: .4s;
    color: #fff;
    text-decoration: none;
}

.main_btn:hover {
    background: #fff;
    color: orange;
}

/* HEADER ADAPTATION */

@media (max-width: 1600px) {
    .header_container {
        padding: 30px 200px 200px 200px;
    }
}

@media (max-width: 1400px) {
    .header_container {
        padding: 30px 100px 100px 100px;
    }
}

@media (max-width: 1199px) {
    .header_container {
        padding: 30px 80px 100px 80px;
    }

    .navigation {
        margin-left: 15%;
    }
}

@media (max-width: 1025px) {}

@media (max-width: 999px) {
    .header_container {
        padding: 30px 80px 100px 80px;
    }

    .navigation {
        margin-left: 10%;
    }
}

@media (max-width: 821px) {
    .welcome_text {
        font-size: 100px;
    }
}

@media (max-width: 768px) {
    .header_container {
        padding: 20px 30px 80px 30px;
    }

    .navigation {
        font-size: 12px;
        margin-left: 0;
    }

    .main_heading {
        font-size: 56px;
    }

    .welcome_text {
        font-size: 100px;
    }

    .navigation,
    .cart-icon,
    .glass-icon {
        display: none;
    }

    .header_logo {
        font-size: 52px;
    }

    .header_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 426px) {
    .nav_container {
        justify-content: center;
    }

    .main_heading {
        font-size: 32px;
    }

    .welcome_text {
        font-size: 60px;
    }

    .main_container {
        margin-top: 150px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 376px) {
    .header_container {
        display: block;
    }
}

@media (max-width: 321px) {
    .main_heading {
        font-size: 28px;
    }

    .welcome_text {
        font-size: 46px;
    }
}


/* ABOUT US  */

.aboutus {
    width: 100%;
    height: auto;
}

.aboutus_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 100px 360px 120px 360px;
}

.aboutus_image_container {
    display: flex;
}

.aboutus_image-1,
.aboutus_image-2,
.aboutus_image-3 {
    transition: .4s;
    margin-right: 30px;
}

.aboutus_image-1:hover {
    transform: translate(-25px, -10px);
    box-shadow: 26px 10px 0px 1px rgba(149, 225, 211, 1);

}

.aboutus_image-2:hover {
    transform: scale(1.05);
}

.aboutus_image-3:hover {
    transform: translate(25px, -10px);
    box-shadow: -26px 10px 0px 1px rgba(149, 225, 211, 1);
}

/* ABOUT US ADAPTATION */
@media (max-width: 1441px) {
    .aboutus_container {
        padding: 100px 50px 120px 50px;
    }
}

@media (max-width: 1250px) {
    .aboutus_container {
        padding: 100px 100px 120px 100px;
    }

    .aboutus_image-1,
    .aboutus_image-2,
    .aboutus_image-3 {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .aboutus_image_container {
        flex-direction: column;
    }

    .aboutus_image-1,
    .aboutus_image-2,
    .aboutus_image-3 {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 425px) {
    .aboutus_container {
        padding: 100px 10px 120px 10px;
    }

    .aboutus_image-1,
    .aboutus_image-2,
    .aboutus_image-3 {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* FACTS */


.facts {
    width: 100%;
    height: auto;
}

.facts_container {
    background: #95e1d3;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 360px;
    padding-left: 360px;
    justify-content: center;
    margin-bottom: 100px;
}

.number {
    position: relative;
    width: 30%;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    border-right: 1px solid white;
}


.number:nth-last-child(1) {
    margin-right: 0;
}

.number:nth-child(1) {
    border-left: 1px solid white;
}

.facts_number {
    font-size: 72px;
    color: #fff;
    font-weight: bold;
}

.facts_fact {
    font-size: 14px;
    color: #fff;
    font-weight: 100;
}

/* FACTS ADAPTATION */

@media (max-width: 1441px) {
    .facts_container {
        padding-right: 260px;
        padding-left: 260px;
    }
}

@media (max-width: 1299px) {
    .facts_container {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media (max-width: 996px) {
    .facts_container {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media (max-width: 768px) {
    .facts {
        display: none;
    }
}


/* SERVICES */

.services {
    width: 100%;
    padding-bottom: 120px;
}

.services_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-text_container {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.services_top,
.services_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.services_line {
    margin: 50px 0;
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
}

.service {
    background: transparent;
    transition: all 1s;
}
.service:hover {
    background: rgba(50, 50, 50, 0.05);
    transform: scale(1.05);
}

.service-title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

.service-subtitle {
    font-weight: 100;
    margin-right: 70px;
    margin-bottom: 0;
}

.service-image {
    display: inline-block;
    margin-right: 30px;
}

/*                  SERVICES  ADAPTIVE           */

@media (max-width:1441px) {
    .service-subtitle {
        font-size: 15px;
    }
}

@media (max-width:1299px) {
    .service-subtitle {
        margin-right: 30px;
    }
}

@media (max-width:1199px) {
    .service-subtitle {
        font-size: 15px;
        margin-right: 20px;
    }

    .service-image {
        margin-right: 10px;
    }
}

@media (max-width:996px) {
    .service-subtitle {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 30px;
        margin-right: 0;
    }

    .service-title {
        font-size: 26px;
        margin-top: 10px;
    }

    .services_top,
    .services_bottom {
        display: flex;
        flex-direction: column;
    }

    .service,
    .service-text_container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .services_line {
        display: none;
    }

    .service-image {
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
    }

    .service-image img {
        width: 25%;
        margin: auto;
    }
}

/* ------------FEATURES-------------------------------- */

.features {
    width: 100%;
    height: auto;
}

.features_container {
    position: relative;
    width: 100%;
    background: url(/img/features-bg.png) no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features_phone {
    position: relative;
    top: 200px;
    left: 13%;
}

/* ------------FEATURES ADAPTIVE -------------------------------- */

@media (max-width : 1440px) {
    .features_container {
        padding-top: 150px;
        background-size: 130%;
        background-position: -180px 75px;
    }

    .features_phone {
        left: 19%;
    }
}
@media (max-width : 1299px) {
    .features_container {
        padding-top: 50px;
        background-size: cover;
        background-position: 46% 0px;
    }

    .features_phone {
        left: 20%;
    }
}
@media (max-width : 1199px) {
    .features_phone {
        left: 22%;
    }
}
@media (max-width : 996px) {
    .features_phone {
        left: 0;
        opacity: 0;
    }
    .features_container {
        background-size: cover;
        padding-top: 0px;
        background-position: 48% 0px;
    }
}



